<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anju.springboot.mapper.RentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anju.springboot.entity.Rent">
        <id column="id" property="id" />
        <result column="house_id" property="houseId" />
        <result column="user_id" property="userId" />
        <result column="term" property="term" />
        <result column="due_time" property="dueTime" />
        <result column="rent_status" property="rentStatus" />
        <result column="rent_time" property="rentTime" />
        <result column="return_time" property="returnTime" />
    </resultMap>

    <select id="getByConditionForLandlord" resultType="com.anju.springboot.entity.Rent">
        select  r.id,house_id,user_id,term,due_time,return_time,r.rent_status,rent_time
        from rent r
        join house h on h.id=r.house_id
        <where>
            <if test="houseId != '' and houseId != null">
                and house_id=#{houseId}
            </if>
            <if test="userId != '' and userId != null">
                and h.author_id=#{userId}
            </if>
        </where>
        order by rent_time DESC
        limit #{pageNo},#{pageSize}
    </select>
    <select id="getTotalByConditionForLandlord" resultType="java.lang.Integer">
        select  count(r.id)
        from rent r
        join house h on h.id=r.house_id
        <where>
            <if test="houseId != '' and houseId != null">
                and house_id=#{houseId}
            </if>
            <if test="userId != '' and userId != null">
                and h.author_id=#{userId}
            </if>
        </where>
    </select>
    <select id="getByConditionForUser" resultType="com.anju.springboot.entity.Rent">
        select *
        from rent
        <where>
            <if test="houseId != '' and houseId != null">
                and house_id=#{houseId}
            </if>
            <if test="userId != '' and userId != null">
                and user_id=#{userId}
            </if>
        </where>
        order by rent_time DESC
        limit #{pageNo},#{pageSize}
    </select>
    <select id="getTotalByConditionForUser" resultType="java.lang.Integer">
        select count(*)
        from rent
        <where>
            <if test="houseId != '' and houseId != null">
                and house_id=#{houseId}
            </if>
            <if test="userId != '' and userId != null">
                and user_id=#{userId}
            </if>
        </where>
    </select>

</mapper>
